!!! 5
%html
  %head
    %title= page_title
    %meta{name: :description, content: page_description}
    %meta{charset: 'utf-8'}
    %meta{name: :viewport, content: 'width=device-width, initial-scale=1.0'}
    %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=edge'}
    %meta{name: 'HandheldFriendly', content: 'True'}
    %meta{name: 'google-site-verification', content:"UlIFhV8FstDJpoRovjvM0LzmXqguqwhyqNDL5DyKaGQ"}
    = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"
    = favicon_tag 'images/favicon.ico'
    = stylesheet_link_tag :application
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    %link{rel: :stylesheet, type: 'text/css', href: '//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400'}
  %body{class: "#{page_class} nav-closed"}

    = partial(:navigation)

    .site-wrapper
      .social
        %ul.no-bullet
          %li
            = link_to "https://twitter.com/gbarillot", target: '_blank' do
              %i.fa.fa-twitter

          %li
            = link_to "https://github.com/gbarillot", target: '_blank' do
              %i.fa.fa-github

          %li
            :javascript
              document.write('<a href="ma');
              document.write('ilto');
              document.write(':&#103;&#117;&#105;&#108;&#108;&#097;&#117;&#109;');
              document.write('&#101;&#064;&#098;&#097;&#114;&#105;&#108;&#108;&#111;&#116;&#046;&#109;&#101;">');
              document.write("<i class='fa fa-envelope'></i>");
              document.write('<\/a>');

            %noscript
              = "&#103;&#98;&#97;&#114;&#105;&#108;&#108;&#111;&#116; at &#103;&#109;&#97;&#105;&#108; dot &#99;&#111;&#109;"

          %li
            = link_to "https://fr.linkedin.com/pub/guillaume-barillot/27/204/4b9", target: '_blank' do
              %i.fa.fa-linkedin
       
      = yield

      %footer.site-footer.clearfix
        %section.copyright
          %a{href: home_path}= blog_settings.name
          &copy;
          = Time.now.year
        %section.poweredby
          -#
            Proudly published with
            %a{href: 'http://middlemanapp.com'} Middleman
          Casper theme powered by
          %a{href: 'https://ghost.org'} Ghost

    = javascript_include_tag :application
